@{
    ViewBag.Title = "SMS";
}

<div class="jumbotron">
    <h1>SMS</h1>
    <p class="lead">Its a nice software for management</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Staff Login</h2>
        <p>
            If you are a registered Staff Click Here
        </p>
        <p><a class="btn btn-default" href="~/Staff/Index">Dashboard</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer Login</h2>
        <p>
            If you are a registered Customer Click Here
        </p>
        <p><a class="btn btn-default" href="~/Customer/Index">Dashboard</a></p>
    </div>
    <div class="col-md-4">
        <h2>Webmail</h2>
        <p>You can easily Webmail from here</p>
        <p><a class="btn btn-default" href="webmail.com.pk">Web mail</a></p>
    </div>
</div>